/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button, input, main {
	all: initial; /* disables css cascading per default */
	cursor: inherit; /* A links children should inherit it's cursor style */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	display: flex;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before
blockquote:after,
q:before
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

html {
	display: grid;

	height: fit-content;
	min-height: 100%;

	width: fit-content;
	min-width: 100%;
}

body {
	flex-direction: column;
	background-color: #131313;
}

header {
	justify-content: flex-start;
	padding: 20px;
}

header a {
	font-family: 'Times New Roman', Times, serif;
	color: white;
	padding: 30px;
	font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
	header {
		justify-content: center;
	}

	header a {
		padding: 15px;
	}
}

main {
	flex-direction: row;
	justify-content: center;
}

article {
	flex: 1 1 0;
	min-width: 0;
	flex-direction: column;
	padding: 10px;
	max-width: 800px;
}

a {
	display: inline-flex;
	color: #f19d65;
	text-decoration: underline;
}

a > code {
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #EEEEEE;
	white-space: pre-wrap;
	font-weight: bold;
}

h1 {
	justify-content: center;
	text-align: center;
	font-size: 2.5rem;
	margin: 60px 0px 80px 0px;
}

h2 {
	font-size: 1.75rem;
	margin: 25px 0px 20px 0px;
	padding: 0px 5px 5px 5px;
	border-bottom: 1px solid gray;
}

h3 {
	font-size: 1.5rem;
	margin: 15px 0px 10px 0px;
}

p, span, strong, code, em {
	display: inline;
	color: #CCCCCC;
	line-height: 1.4;
	font-family: merriweather, georgia, serif;
}

p {
	text-align: justify;
	margin: 5px 0px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code {
	color: inherit;
}

code {
	background-color: #353535;
	border-radius: 3px;
	padding: 0px 4px;
	font-family: Consolas, monospace;
	color: #D8D8D8;
}

pre,
pre.language-tsx,
pre.language-typescript,
pre.language-java {
	margin: 20px 0px;
	padding: 0px;
	border-radius: 5px;
	white-space: pre;
	display: grid;
}

pre > code,
pre > code.language-tsx,
pre > code.language-typescript ,
pre > code.language-java {
	font-family: Consolas, monospace;
	padding: 15px;
	white-space: pre;
	display: block;
	overflow-x: auto;
	line-height: 1.1;
}

pre > code span {
	font-family: inherit;
	white-space: pre;
}